mixin yandex-metrika()

    //- noscript
    //-     div
    //-         img(
    //-             src="https://mc.yandex.ru/watch/12345"
    //-             style="position:absolute; left:-9999px;"
    //-             alt=""
    //-         )
